argcomplete==1.12.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
Beaker==1.10.0
beautifulsoup4==4.9.3
chardet==3.0.4
chart-studio==1.1.0
chrome-gnome-shell==0.0.0
click==7.1.2
colorlover==0.3.0
cryptography==3.0
cufflinks==0.17.3
cupshelpers==1.0
Cython==0.29.21
dasbus==1.4
dash==1.17.0
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
dbus-python==1.2.16
decorator==4.4.2
defusedxml==0.6.0
distro==1.5.0
entrypoints==0.3
Flask==1.1.2
Flask-Compress==1.8.0
fros==1.1
future==0.18.2
geographiclib==1.50
geopy==2.0.0
gpg==1.14.0
humanize==0.5.1
idna==2.10
MarkupSafe==1.1.1
pandas==1.1.4
plotly==4.12.0
ply==3.11
scipy==1.5.3
urllib3==1.25.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
